<div class="sidebar">
    <!-- Side Start -->
    <!-- Siderbar  -->
    <div class="header">
        <hgroup>
            <h1 class="brand-title"><a href="<%- config.url %>" id="img-a" alt="<%- config.title %>"><img class="pure-img side-img" src="<%- config.root %>images/dhm.jpg"/></a></h1>
            <h2 class="brand-tagline">
                <small><%- config.subtitle %></small>
            </h2>
        </hgroup>

        <div id="sidebar_nav" class="pure-menu pure-menu-open">
            <ul>
                <% for (var i in theme.menu) { %>
                    <% if (i === 'GitHub' || i === 'LinkedIn' || i === 'Twitter') { %>
                        <li><a href="<%- theme.menu[i] %>" target="_blank"><%= i %></a></li>
                    <% } else { %>
                        <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <!-- <div>
            <i class="fa fa-github"><a href="https://github.com/dmarg"></a></i>
        </div> -->
    </div>
    <!-- Side End-->
</div>
